<%- include('../layouts/header') %>


<div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-color: rgb(255, 255, 255);" >
  <div class="container">
    <div class="form-box">
      <div class="form-tab text-center">
        <ul class="nav nav-pills nav-fill" role="tablist">
      <li class="nav-item">
          
                        <h3>OTP Verification</h3>
      </li>
  
  </ul>
  <div class="tab-content mt-3">
    <div aria-labelledby="signin-tab-2">
      <p>We have sent a verification code to your Given email</p>
      <span><br> OTP is only valid for <span style="color: red; font-size: 15px;" id="timer"> 2:00/span> minutes.</span>
   
    </div><!-- End .deal-top -->
  
    <form action="/otpVerification" method="post">
      <div id='inputs'>
        <input name="otp1" id='input1' type='text' maxLength="1" size="1" pattern="\d" inputmode="numeric"  />
        <input name="otp2" id='input2' type='text' maxLength="1" size="1" pattern="\d" inputmode="numeric"  />
        <input name="otp3" id='input3' type='text' maxLength="1" size="1" pattern="\d" inputmode="numeric" />
        <input name="otp4" id='input4' type='text' maxLength="1" size="1" pattern="\d" inputmode="numeric" />
      </div>
      <input type="hidden" name="fullOTP" id="fullOTP" />
      <div style="height: 40px;">
        <% if (typeof errorMessage !== 'undefined') { %>
          <p style="color: rgb(200, 3, 3); ">
            <%= errorMessage %>
          </p>
        <% } %>

      </div>
  
      
  
      <div>
        <button type="submit" class="btn btn-outline-primary-2">
          <span>VERIFY OTP</span>
          <i class="icon-long-arrow-right"></i>
        </button>
      </form>
  
      
          <a  id="resendButton" class="btn btn-outline-dark-2" href="/resendOtp"> RESEND OTP</a>
         
      
      </div>
   
  </div>
  
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const timer = document.getElementById('timer');
      const resendButton = document.getElementById('resendButton');
      const inputs = document.querySelectorAll('input[type="text"]');
      let duration = 120; 
      let resendCooldown = 30; 
      
  
      const updateTimer = () => {
        const minutes = Math.floor(duration / 60);
        let seconds = duration % 60;
  
        seconds = seconds < 10 ? '0' + seconds : seconds;
  
        timer.textContent = `OTP will expire in ${minutes}:${seconds}`;
  
        if (duration > 0) {
          duration--;
          setTimeout(updateTimer, 1000); 
          
        } else {
          timer.textContent = 'OTP has expired';

          
        }
      };
  
      const updateResendCooldown = () => {
        if (resendCooldown > 0) {
          resendCooldown--;
          resendButton.disabled = true;
          resendButton.textContent = `RESEND OTP (${resendCooldown}s)`;
          setTimeout(updateResendCooldown, 1000);
        } else {
          resendButton.disabled = false;
          resendButton.textContent = 'RESEND OTP';
        }
      };
  
      updateTimer(); 
      updateResendCooldown(); 


      
  
      inputs.forEach((input, index) => {
        input.addEventListener('input', function () {
          if (this.value.length >= 1) {
            if (index < inputs.length - 1) {
              inputs[index + 1].focus();
            } else {
              this.value = this.value.substring(0, 1); 
            }
          }
        });
  
        input.addEventListener('keydown', function (e) {
          if (e.key === 'Backspace' && index > 0 && this.value === '') {
            inputs[index - 1].focus();
            inputs[index].value = ''; 
          }
        });
      });
    });
    

    
  
    function disableResend() {

      document.getElementById('resendButton').disabled = true;
    }
    const inputFields = [
    document.getElementById('input1'),
    document.getElementById('input2'),
    document.getElementById('input3'),
    document.getElementById('input4')
  ];
  const fullOTPField = document.getElementById('fullOTP');

  inputFields.forEach((input, index) => {
    input.addEventListener('input', () => {
      let fullOTP = '';
      inputFields.forEach((field) => {
        fullOTP += field.value;
      });
      fullOTPField.value = fullOTP;
    });
  });
  </script>
  <!-- End .form-tab -->
    </div><!-- End .form-box -->
  </div><!-- End .container -->
</div>






  <%- include('../layouts/footer.ejs') %>